.st-emotion-cache-193rja9.ef3psqc12,
.st-emotion-cache-1i90e6t.ef3psqc12{
    width: 100%;
}

.st-emotion-cache-6qob1r.eczjsme11{
    background-color: #161619;
}

.st-emotion-cache-9aoz2h.e1vs0wn30{
    display: flex;
    justify-content: center;
}

.element-container.st-emotion-cache-1h6mewt.e1f1d6gn4{
    margin-bottom: 1em;
}

.st-emotion-cache-y4bq5x.ewgb6651{
    display: flex;
    justify-content: center;
}

h3[level='3']{
    text-align: center;
}